<template>
    <div id="card-body">
    <div class="card " v-for="item in juz">
        <!-- <div class="card "> -->

  <div class="card-content is-justify-content-space-between">
    <p class="title alig has-text-right is-size-1">
      {{item.surahNameArabic}}
    </p>
    <p class="subtitle"> <b>Surah : </b> {{item.surahName}} </p>
    <p class="subtitle"> <b>{{ item.surahNameTranslation }}</b></p>
  </div>
  
</div>
</div>
</template>

<script setup>

</script>

<style  scoped>
#card-body {
    background-color: #5a5454;
    padding: 30px;
    width: auto ;
    height: 100%;
}
</style>