<template>
    <div>
        <header>
                <div class="logo">
                     <h1>Quran Web</h1>
                </div>
                
                <nav>
                    <ul>
                        <li><RouterLink to="/">Home</RouterLink></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            
        </header>
    </div>
</template>

<script>

export default {
    name: 'HeaderComponents',

    
}
</script>

<style scoped>



header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo h1 {
  margin: 0;
}
</style>