<script>

import HeaderComponents from './components/HeaderComponents.vue';
import listJuz from './components/ListAllJuz.vue';

export default{
  components: {
    HeaderComponents,
    listJuz
  }
}
</script>

<template>
  <main>
  <div>

    <HeaderComponents />
    <router-view />
  </div>
</main>
</template>

<style scoped>

</style>
